<a href="https://colab.research.google.com/github/DianaGRM/MineriaDeDatos/blob/main/Ej_Python_1941564.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 1**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [3]:
nombre = "Diana Gabriela Ramírez Moreno"
matricula = 1941564

print(nombre+" "+str(matricula))

Diana Gabriela Ramírez Moreno 1941564

# **Ejercicio 2**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [4]:
print("Calculadora")
def menu():
    print("\n\nMenu\n 1)Suma\n 2)Resta\n 3)Multiplicacion\n 4)Division\n 5)Exponencial\n 0)Salir")

opc=0
while opc != 6 :
    menu()
    
    opc=int(input("Introduzca la opcion deseada: "))
    
    if opc == 0 :
        break
        
    if  opc>=6:
        
        print("Favor de introducir una opcion valida")
        menu()
        opc=int(input("Introduzca la opcion deseada: "))
        
    A=float(input("Introduzca el primer valor: "))
    B=float(input("Indroduzca se segundo valor: "))
    
    if opc==1:
        print("El resultado es", A+B)
    elif opc==2:
        print("El resultado es", A-B)
    elif opc==3:
        print("El resultado es ", A*B)
    elif opc==4:
        if a2==0:
             print("Valores no validos")
        else:
             print("El resultado es ", A/B)
    elif opc==5 :
        print("El resultado es ", A**B)
        
    else:
        print("Favor de introducir una opcion valida")

Calculadora


Menu
 1)Suma
 2)Resta
 3)Multiplicacion
 4)Division
 5)Exponencial
 0)Salir
Introduzca la opcion deseada: 3
Introduzca el primer valor: 4
Indroduzca se segundo valor: 5
El resultado es  20.0


Menu
 1)Suma
 2)Resta
 3)Multiplicacion
 4)Division
 5)Exponencial
 0)Salir
Introduzca la opcion deseada: 0

# **Ejercicio 3**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [6]:
i=3
sum=0
acum=0
multiplos=[ ]

while acum < 10:
    if i%3==0:
        multiplos.append(i)
        sum = sum +i
        acum = acum + 1
    i=i+1

print("\nPrimeros multiplos del 3 son: ", multiplos)
print("\nSuma de los multiplos obtenidos: ", sum)

Primeros multiplos del 3 son:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Suma de los multiplos obtenidos:  165

# **Ejercicio 4**
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [7]:
print("Revisar si un numero es par o impar")

numero=int(input("Introduzcca un numero: "))
if(numero%2==0):
    print("\nSu numero es par")
     
else:
    print("\nSu numero es impar")
pri=0
for n in range (1, numero+1):
    if numero%n==0:
        pri=pri+1

if pri==2:
    print("\n", numero, "es un número primo.")
else:
    print("\n", numero, "no es un número primo.")

Revisar si un numero es par o impar
Introduzcca un numero: 7

Su numero es impar

 7 es un número primo.

# **Ejercicio 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [8]:
class calculadora:
    def sumar(self, x, y):
        print ('El resultado de la suma es igual a: '+str((x+y)) )
    def restar(self, x, y):
        print ('El resultado de la resta es igual a: '+str((x-y)) )
    def multiplicar(self, x, y):
        print ('El resultado de la multiplicacion es igual a: '+str((x*y)) )
    def dividir(self, x, y):
        print ('El resultado de la division es igual a: '+str((x/y)) )
    def exponente(self, x, y):
        print ('El resultado de elevar a una potencia es igual a: '+str((x**y)) )
print("Calculadora")
calcu= calculadora()
def menu():
    print("""
    ¿Que desea realizar?
    1) Sumar 
    2) Restar 
    3) Multiplicar 
    4) Dividir
    5) El exponente de los numeros 
    6) Salir
    """)
    return int(input('Introduce una opcion: '))

while(True):
    opcion= menu()
    if(opcion==6):
        break
    else:
        n1= int(input('Ingresa el primer número: '))
        n2= int(input('Ingresa el segundo número: '))
        
        if(opcion==1):
            calcu.sumar(n1, n2)
        elif(opcion==2):
            calcu.restar(n1, n2)
        elif(opcion==3):
            calcu.multiplicar(n1, n2)
        elif(opcion==4):
            calcu.dividir(n1, n2)
        elif(opcion==5):
            calcu.exponente(n1, n2)
        else:
            print('Opción no valida')

Calculadora

    ¿Que desea realizar?
    1) Sumar
    2) Restar
    3) Multiplicar
    4) Dividir
    5) El exponente de los numeros
    6) Salir

Introduce una opcion: 2
Ingresa el primer número: 56
Ingresa el segundo número: 38
El resultado de la resta es igual a: 18

    ¿Que desea realizar?
    1) Sumar
    2) Restar
    3) Multiplicar
    4) Dividir
    5) El exponente de los numeros
    6) Salir

Introduce una opcion: 6

# **Ejercicios con estructuras básicas de python**

# Tuplas



> Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [9]:
x=86.79 
tip1=type(x)

y=751 
tip2=type(y)

IscodingFun=True 
tip3=type(IscodingFun)

Complex=657+4j 
tip4=type(Complex)

#imprimir los tipos 
print ("La variable ",x, " es de tipo",tip1)
print("La variable ",y, " es de tipo", tip2)
print("La variable ",IscodingFun," es de tipo",tip3)
print("La variable ", Complex, " es de tipo", tip4)

La variable  86.79  es de tipo <class 'float'>
La variable  751  es de tipo <class 'int'>
La variable  True  es de tipo <class 'bool'>
La variable  (657+4j)  es de tipo <class 'complex'>




> Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [10]:
tupla = (1,2,3,4,5)
print("El primer valor de la tupla es:",tupla[0], "y el último es:",tupla[4],"\n")

El primer valor de la tupla es: 1 y el último es: 5



> Añadir 3 valores de string a la tupla.

In [13]:


print("¿Que valores string deseas añadir a la tupla")
v1= str(input('Ingresa el primer valor: '))
v2= str(input('Ingresa el segundo valor: '))
v3= str(input('Ingresa el tercer valor: '))

tupla=(1,2,3,4,5,v1,v2,v3)
print(tupla)

¿Que valores string deseas añadir a la tupla
Ingresa el primer valor: ha
Ingresa el segundo valor: ho
Ingresa el tercer valor: hi
(1, 2, 3, 4, 5, 'ha', 'ho', 'hi')



> Verificar si una variable existe dentro de la tupla.

In [14]:
tupla=('a','b','c','d','f')
x=str(input("Ingrese un dato a buscar:"))
if ((x in tupla)==True):
    print("su dato fue encontrado en la tupla")
else:
    print("su dato no fue encontrado en la tupla")

Ingrese un dato a buscar:c
su dato fue encontrado en la tupla

# Listas


> Crear una lista con 40 elementos aleatorios enteros.

In [15]:
import random
lista=[random.randint(0,3928) for i in range(40)]

print("Los 40 elementos de la lista son:",lista)

Los 40 elementos de la lista son: [3860, 2735, 2849, 3627, 351, 1510, 1981, 3417, 2505, 153, 3452, 3448, 2141, 946, 409, 1131, 2922, 116, 2343, 680, 3021, 755, 2525, 1832, 3392, 906, 1960, 66, 1072, 830, 2361, 971, 2269, 2244, 2791, 2738, 147, 1793, 3373, 2153]



> Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [16]:
lista=[random.randint(0,3928) for i in range(40)]
listpar=[]
listimpar=[]
def listas():
    for i in range(40):
        h=lista[i]%2
        if h==0:
            listpar.append(lista[i])
        else:
            listimpar.append(lista[i])

    print("La lista de numeros pares aleatorios es:",listpar)
    print("La lista de numeros impares aleatorios es:",listimpar)
listas()

La lista de numeros pares aleatorios es: [3522, 2080, 3174, 6, 2396, 2428, 3120, 1014, 436, 1578, 3104, 3378, 3036, 1142, 3428, 1292, 2926, 2872, 1472]
La lista de numeros impares aleatorios es: [3413, 113, 2219, 2121, 3201, 681, 2361, 1121, 485, 2637, 1829, 2699, 121, 3683, 2599, 1211, 1741, 1483, 2695, 2087, 81]



> Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [17]:
listapar= [3522, 2080, 3174, 6, 2396, 2428, 3120, 1014, 436, 1578, 3104, 3378, 3036, 1142, 3428, 1292, 2926, 2872, 1472]
listaimpar= [3413, 113, 2219, 2121, 3201, 681, 2361, 1121, 485, 2637, 1829, 2699, 121, 3683, 2599, 1211, 1741, 1483, 2695, 2087, 81]

lon1=len(listapar)
lon2=len(listaimpar)

print("la longitud de la lista 1 es:",lon1)
print("la longitud de la lista 2 es:", lon2)

la longitud de la lista 1 es: 19
la longitud de la lista 2 es: 21



> Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [19]:
listapar= [3522, 2080, 3174, 6, 2396, 2428, 3120, 1014, 436, 1578, 3104, 3378, 3036, 1142, 3428, 1292, 2926, 2872, 1472]
listaimpar= [3413, 113, 2219, 2121, 3201, 681, 2361, 1121, 485, 2637, 1829, 2699, 121, 3683, 2599, 1211, 1741, 1483, 2695, 2087, 81]

listapar.sort(reverse=True)
listaimpar.sort()
print("Lista par:", listapar)
print("Lista impar", listaimpar)

Lista par: [3522, 3428, 3378, 3174, 3120, 3104, 3036, 2926, 2872, 2428, 2396, 2080, 1578, 1472, 1292, 1142, 1014, 436, 6]
Lista impar [81, 113, 121, 485, 681, 1121, 1211, 1483, 1741, 1829, 2087, 2121, 2219, 2361, 2599, 2637, 2695, 2699, 3201, 3413, 3683]



> Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [23]:
lista=[3860, 2735, 2849, 3627, 351, 1510, 1981, 3417, 2505, 153, 3452, 3448, 2141, 946, 409, 1131, 2922, 116, 2343, 680, 3021, 755, 2525, 1832, 3392, 906, 1960, 66, 1072, 830, 2361, 971, 2269, 2244, 2791, 2738, 147, 1793, 3373, 2153]
longitud=len(lista)
lista.reverse()
lista.append(52)

print("Longitud de la lista:",longitud)
print("Imprimir lista al reves: ",lista)

print("Numero mayor de los datos:",max(lista),"\nNumero menor de los datos:",min(lista))

Longitud de la lista: 40
Imprimir lista al reves:  [2153, 3373, 1793, 147, 2738, 2791, 2244, 2269, 971, 2361, 830, 1072, 66, 1960, 906, 3392, 1832, 2525, 755, 3021, 680, 2343, 116, 2922, 1131, 409, 946, 2141, 3448, 3452, 153, 2505, 3417, 1981, 1510, 351, 3627, 2849, 2735, 3860, 52]
Numero mayor de los datos: 3860
Numero menor de los datos: 52

# Diccionarios





> Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [24]:
dicc={'Emanuel':'21','Diego':'20','Andres':'21','Frida':'20','Paola':'21','Fabiola':'20'}
print(dicc)

{'Emanuel': '21', 'Diego': '20', 'Andres': '21', 'Frida': '20', 'Paola': '21', 'Fabiola': '20'}



> Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [27]:
dicc={'Emanuel':22,'Diego':20,'Andres':21,'Frida':20,'Paola':21,'Fabiola':20}
edad=[]

for i in dicc:
    if type(dicc[i]) == type(98):
        edad.append(dicc[i])
edad.sort()
print("Las edades son:",edad)

Las edades son: [20, 20, 20, 21, 21, 22]



> Usando el diccionario y un loop, imprimir solo los nombres.

In [28]:
dicc={'Emanuel':22,'Diego':20,'Andres':21,'Frida':20,'Paola':21,'Fabiola':20}
Nombres=dicc.keys()

print(Nombres)

dict_keys(['Emanuel', 'Diego', 'Andres', 'Frida', 'Paola', 'Fabiola'])



> Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [29]:
dicc={'Emanuel':22,'Diego':20,'Andres':21,'Frida':20,'Paola':21,'Fabiola':20}
dicc['Regina']=15
dicc['Ana']=18

print(dicc)

{'Emanuel': 22, 'Diego': 20, 'Andres': 21, 'Frida': 20, 'Paola': 21, 'Fabiola': 20, 'Regina': 15, 'Ana': 18}

# Sets



> Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [31]:
import random
def listaSets(AB):
    lista = [0]  * AB
    for i in range(AB):
          lista[i] = random.randint(1, 25)
    return lista

print("Ingrese cuantos numeros aleatorios desea obtener")
AB=int(input())


secs=set(secs)
print(secs)

Ingrese cuantos numeros aleatorios desea obtener
15
{17, 22, 23, 24, 11}



> Comprueba la longitud de tu set

In [32]:
import random as sete
p=set()
for i in range(100):
    s=sete.randint(1,25)
    p.add(s)

print("La longitud es:",len(p))

La longitud es: 25



> Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [34]:
lista = []

for i in range(5):
    lista.append(sete.randint(1,10))
    if lista[i] in p:
        print("El numero", lista[i],"aparece en el set.")
    else:
        print("El numero", lista[i],"No aparece en el set.")

El numero 2 aparece en el set.
El numero 10 aparece en el set.
El numero 8 aparece en el set.
El numero 4 aparece en el set.
El numero 4 aparece en el set.